html {
  font-family: "Open Sans", sans-serif;
}

body {
  background: #fafafa;
}

.container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ebebeb;
  background: #ffffff;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #2E8AE6;
}
